<html>
<head>
    <title>Sheet Without Shit</title>
    <style>
        body {
            display: flex;
            justify-content: center;
        }
        #form {
            display: flex;
            flex-direction: column;
            width: 300px;
        }
        #errors {
            color: red;
        }
        #success {
            color: green;
        }
    </style>
</head>
<body>
    <div id="form">
        <label for="new_password">New Password</label>
        <input id="new_password" type="password" name="new_password">

        <label for="confirm_password">Confirm Password</label>
        <input id="confirm_password" type="password" name="confirm_password">
        <div id="errors"></div>
        <input onclick="submit_password()" type="submit" value="Submit">
        <div id="success"></div>
    </div>
    <script>
        function submit_password() {
            const errors = document.getElementById("errors")
            errors.innerText = ""

            const new_password = document.getElementById("new_password")
            const confirm_password = document.getElementById("confirm_password")
            if (new_password.value !== confirm_password.value) {
                const error = document.createElement("p")
                error.innerText = "Provided password is not equal."
                errors.appendChild(error)
                return
            }

            fetch(document.URL, {
                method: "PUT",
                body: JSON.stringify({new_password: new_password.value})
            })
                .then((response) => {
                      return response.json();
                })
                .then((response) => {
                    if (response.success) {
                        new_password.value = ""
                        confirm_password.value = ""

                        const success = document.getElementById("success")
                        success.innerText = response.message
                    }
                    else {
                        const error = document.createElement("p")
                        error.innerText = response.message
                        errors.appendChild(error)
                    }
                })

        }
    </script>
</body>
</html>